<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ask and Answer</title>
</head>
<body>
     <h1> Nome: <%=nome %></h1>
     <h2> Linguagem: <%=lang %></h2>
    
     <% if(msg){ %>
        <h3> Teste realizado com sucesso </h3>
    <%} else{%>
      <h3> Teste realizado com erro </h3>
 
    <% } %>
     

</body>
</html>